.login {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
  .login > div > img {
    object-fit: contain;
    height: 300px;
  }
  
  .login > button {
    width: 300px;
    background-color: #3ea4fb;
    color: #eff2f5;
    font-weight: 800;
  }
  
  .login > button:hover {
    background-color: gainsboro;
    color: #3ea4fb;
  }
  
  @media screen and (max-width: 600px) {
    .login__logo > h1{
      font-size: 22px;
    }
  }